* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popping", sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(to left, rgb(233, 120, 28), #ee3b0e);
}

.slider-box {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
}
.sliders .img-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
  object-fit: cover;
}
.sliders .img-box img {
  width: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}
.sliders input {
  display: none;
}
.slider-control {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.slider-control label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid #8be;
  background-color: #aa8a8a;
  transition: all 0.2s ease-in;
}
#img1:checked ~ .img-box {
  margin-left: 0%;
}
#img2:checked ~ .img-box {
  margin-left: -100%;
}
#img3:checked ~ .img-box {
  margin-left: -200%;
}

#img2:checked ~ .slider-control .img2 {
  width: 40px;
  background-color: aqua;
  border-radius: 10px;
}
#img3:checked ~ .slider-control .img3 {
  width: 40px;
  background-color: aqua;
  border-radius: 10px;
}
#img1:checked ~ .slider-control .img1 {
  width: 40px;
  border-radius: 10px;
  background-color: aqua;
}
@media only screen and (max-width: 798px) {
  .slider-box {
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  .sliders .img-box img {
    width: 90%;
    scroll-snap-align: center;
  }
  .slider-control {
    display: none;
  }
  .img2 {
    margin: 0 12px;
  }
}
